<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div class="container blog-content-container">
    <div id="box">
 
		<h2>注册成为博主</h2>
			<form th:action="@{/register}"  method="post">
		<div id="inputBox">
			<input type="text" id="username" name="username" maxlength="50" required="">
			<label>账号：</label>
		</div>
			<div id="inputBox">
			<input type="email" id="email" name="email" maxlength="50" required="" title="邮箱错误" 
			>
			<label>邮箱：</label>
		</div>
			<div id="inputBox">
			<input type="text" id="name" name="name" maxlength="20" required="">
			<label>昵称：</label>
		</div>
		<div id="inputBox">
			<input type="password" id="password" name="password" maxlength="30" required="">
			<label>密码：</label>
		</div>
		<input type="submit"  value="注册">
		<input type="reset" name="" value="重置">
	</form>
	</div>
    </div> <!-- /container -->
	<div th:replace="~{fragments/footer :: footer}">...</div>
    </body>
</html>